  *{
            margin: 0;
            padding: 0;
        }
        .fundo{ /* FUNDO */
            background-image: var(--fade); 
            height: 100vh;
            color: var(--textoCorpo);
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }
        .calculadora{ /* CORPO CALCULADORA */
            position: absolute;
            background-color: var(--corpoCalculadora); 
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 15px;
            padding: 15px;
        }
        .botao{  /* BOTOES */
            width: 50px;
            height: 50px;
            font-size: 25px;
            cursor: pointer;
            margin: 3px;
            background-color: var(--botoes);
            border: none;
            color: var(--textoBotoes);
        }
        .botao:hover{
            background-color: var(--hover);
        }
        #resultado{ /* PAINEL */
            background-color: var(--painel); 
            width: 207px;
            height: 30px;
            margin: 5px;
            font-size: 25px;
            color: var(--textoPainel);
            text-align: right;
            padding: 5px;
        }
        select{
            color: var(--textoCorpo);
            background-color: var(--corpoCalculadora); 
            border-radius: 10px;
            padding: 5px;
        }
        .contato{
           position: fixed;
           bottom: 0;
           left: 50%;
           transform: translate(-50%,-50%);
           border-radius: 10px;
           padding: 10px;
        }
        .contato a{
            text-decoration: none;
            color: var(--textoCorpo);
        }
        .contato i{
            padding: 10px;
            font-size: 25px;
        }